.chart-container {
    margin: auto;
    margin-top: 2em;
    width: 100%;
}

.title {
    margin: auto;
    margin-top: 3em;
    font-family: sans-serif;
    text-align: center;
}

.count {
    width: 10%;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
}

.text_answer {
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #f01414;
    /* border-width: 2px;
    border-style: solid;
    border-color: rgba(184, 184, 184, 0.8); */
    padding: 10px;
    padding-left: auto;
    padding-right: auto;
}

.text_answer_container {
    width: 800px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    font-size: .75em;
    line-height: 1em;
    line-height: 1.4;
    height: 32px;
    font-family: Arial,"Arial","Helvetica",sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #333;
    text-decoration: none;
    outline: 0;
}

footer {
    display: flex;
}

nav.red {
    background: #f01414;
}

nav {
    position: relative;
    width: 100%;
    height: 54px;
    margin-top: 12px;
    display: flex;
}

nav div {
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    color: white;
    margin: auto;
    display: block;
}

/* .page_container {
    width: min-content;
    margin: auto;
    background-color: white;
} */

.page_container {
    position: relative;
    max-width: 980px;
    width: 90%;
    /* width: 980px; */
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);
    overflow: hidden;
}

body {
    margin: 0;
    background-color: #cecece;
}

#header .header-content {
    padding: 16px 16px 0;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(240, 20, 20, 0.8);
    transition: 0.3s;
    width: 200px;

    font-family: sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #f01414;

    padding: 10px;
    padding-left: auto;
    padding-right: auto;
    margin: 20px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(240, 20, 20, 0.8);
  }
  
.card img {
    height: 100px;
    display: block;
    margin: 20px auto;
    max-width: 80%;
}

/* Add some padding inside the card container */
.container {
padding: 2px 16px;
}

.card_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
